<p id="notice"><%= notice %></p>

<h1>Listing Questioners</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Is active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questioners.each do |questioner| %>
      <tr>
        <td><%= questioner.name %></td>
        <td><%= questioner.description %></td>
        <td><%= questioner.is_active %></td>
        <td><%= link_to 'Show', questioner %></td>
        <td><%= link_to 'Edit', edit_questioner_path(questioner) %></td>
        <td><%= link_to 'Destroy', questioner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Questioner', new_questioner_path %>
